@import './theme.css';

.subscription-status {
    composes: card from './theme.css';
    padding: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status-label {
    font-weight: 700;
    color: #fff;
}

.status-value {
    color: rgba(255,255,255,0.85);
}
