html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: url("./assets/background.png") no-repeat center center;
    background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
